Exchange/TF78Ident/Ident.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://identification.ws.eis.spb.ru/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://identification.ws.eis.spb.ru/" name="IdentService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="Ident.xsd1"/>
        </xsd:schema>
        <xsd:schema>
<!--            <xsd:import namespace="http://identification.ws.eis.spb.ru/" schemaLocation="Ident.xsd2"/> -->
            <xsd:include schemaLocation="Ident.xsd2"/>
        </xsd:schema>
    </types>
    <message name="doIdentification">
        <part name="parameters" element="tns:doIdentification"/>
    </message>
    <message name="doIdentificationResponse">
        <part name="parameters" element="tns:doIdentificationResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="getIdTArea">
        <part name="parameters" element="tns:getIdTArea"/>
    </message>
    <message name="getIdTAreaResponse">
        <part name="parameters" element="tns:getIdTAreaResponse"/>
    </message>
    <message name="getIdGeonimName">
        <part name="parameters" element="tns:getIdGeonimName"/>
    </message>
    <message name="getIdGeonimNameResponse">
        <part name="parameters" element="tns:getIdGeonimNameResponse"/>
    </message>
    <message name="getIdGeonimType">
        <part name="parameters" element="tns:getIdGeonimType"/>
    </message>
    <message name="getIdGeonimTypeResponse">
        <part name="parameters" element="tns:getIdGeonimTypeResponse"/>
    </message>
    <message name="getIdSmo">
        <part name="parameters" element="tns:getIdSmo"/>
    </message>
    <message name="getIdSmoResponse">
        <part name="parameters" element="tns:getIdSmoResponse"/>
    </message>
    <message name="getIdNet">
        <part name="parameters" element="tns:getIdNet"/>
    </message>
    <message name="getIdNetResponse">
        <part name="parameters" element="tns:getIdNetResponse"/>
    </message>
    <message name="getIdMo">
        <part name="parameters" element="tns:getIdMo"/>
    </message>
    <message name="getIdMoResponse">
        <part name="parameters" element="tns:getIdMoResponse"/>
    </message>
    <portType name="Ident">
        <operation name="doIdentification">
            <input message="tns:doIdentification"/>
            <output message="tns:doIdentificationResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="getIdTArea">
            <input message="tns:getIdTArea"/>
            <output message="tns:getIdTAreaResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="getIdGeonimName">
            <input message="tns:getIdGeonimName"/>
            <output message="tns:getIdGeonimNameResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="getIdGeonimType">
            <input message="tns:getIdGeonimType"/>
            <output message="tns:getIdGeonimTypeResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="getIdSmo">
            <input message="tns:getIdSmo"/>
            <output message="tns:getIdSmoResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="getIdNet">
            <input message="tns:getIdNet"/>
            <output message="tns:getIdNetResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
        <operation name="getIdMo">
            <input message="tns:getIdMo"/>
            <output message="tns:getIdMoResponse"/>
            <fault message="tns:Exception" name="Exception"/>
        </operation>
    </portType>
    <binding name="IdentPortBinding" type="tns:Ident">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="doIdentification">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getIdTArea">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getIdGeonimName">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getIdGeonimType">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getIdSmo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getIdNet">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="getIdMo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="IdentService">
        <port name="IdentPort" binding="tns:IdentPortBinding">
            <soap:address location="http://10.20.31.213:80/identWS/services/Ident"/>
        </port>
    </service>
</definitions>
