Exchange/FSS/wsdl/FileOperationsLnPort.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl" name="FileOperationsLnImplService">
    <types>
        <xsd:schema targetNamespace="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl">
            <xsd:include schemaLocation="FileOperationsLnPort.1.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xsd:include schemaLocation="FileOperationsLnPort.2.xsd"/>
        </xsd:schema>
    </types>
    <message name="prParseFilelnlpu">
        <part name="parameters" element="tns:prParseFilelnlpu"/>
    </message>
    <message name="prParseFilelnlpuResponse">
        <part name="parameters" element="tns:prParseFilelnlpuResponse"/>
    </message>
    <message name="SOAPException">
        <part name="fault" element="tns:SOAPException"/>
    </message>
    <message name="getNewLNNum">
        <part name="parameters" element="tns:getNewLNNum"/>
    </message>
    <message name="getNewLNNumResponse">
        <part name="parameters" element="tns:getNewLNNumResponse"/>
    </message>
    <message name="getNewLNNumRange">
        <part name="parameters" element="tns:getNewLNNumRange"/>
    </message>
    <message name="getNewLNNumRangeResponse">
        <part name="parameters" element="tns:getNewLNNumRangeResponse"/>
    </message>
    <message name="disableLn">
        <part name="parameters" element="tns:disableLn"/>
    </message>
    <message name="disableLnResponse">
        <part name="parameters" element="tns:disableLnResponse"/>
    </message>
    <message name="getExistingLNNumRange">
        <part name="parameters" element="tns:getExistingLNNumRange"/>
    </message>
    <message name="getExistingLNNumRangeResponse">
        <part name="parameters" element="tns:getExistingLNNumRangeResponse"/>
    </message>
    <message name="getLNListBySnils">
        <part name="parameters" element="tns:getLNListBySnils"/>
    </message>
    <message name="getLNListBySnilsResponse">
        <part name="parameters" element="tns:getLNListBySnilsResponse"/>
    </message>
    <message name="getLNListByDate">
        <part name="parameters" element="tns:getLNListByDate"/>
    </message>
    <message name="getLNListByDateResponse">
        <part name="parameters" element="tns:getLNListByDateResponse"/>
    </message>
    <message name="prParseFileNumberslpu">
        <part name="parameters" element="tns:prParseFileNumberslpu"/>
    </message>
    <message name="prParseFileNumberslpuResponse">
        <part name="parameters" element="tns:prParseFileNumberslpuResponse"/>
    </message>
    <message name="getLNData">
        <part name="parameters" element="tns:getLNData"/>
    </message>
    <message name="getLNDataResponse">
        <part name="parameters" element="tns:getLNDataResponse"/>
    </message>
    <portType name="FileOperationsLn">
        <operation name="prParseFilelnlpu">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/prParseFilelnlpu" message="tns:prParseFilelnlpu"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/prParseFilelnlpuResponse" message="tns:prParseFilelnlpuResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/prParseFilelnlpu/Fault/SOAPException"/>
        </operation>
        <operation name="getNewLNNum">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getNewLNNum" message="tns:getNewLNNum"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getNewLNNumResponse" message="tns:getNewLNNumResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getNewLNNum/Fault/SOAPException"/>
        </operation>
        <operation name="getNewLNNumRange">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getNewLNNumRange" message="tns:getNewLNNumRange"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getNewLNNumRangeResponse" message="tns:getNewLNNumRangeResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getNewLNNumRange/Fault/SOAPException"/>
        </operation>
        <operation name="disableLn">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/disableLn" message="tns:disableLn"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/disableLnResponse" message="tns:disableLnResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/disableLn/Fault/SOAPException"/>
        </operation>
        <operation name="getExistingLNNumRange">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getExistingLNNumRange" message="tns:getExistingLNNumRange"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getExistingLNNumRangeResponse" message="tns:getExistingLNNumRangeResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getExistingLNNumRange/Fault/SOAPException"/>
        </operation>
        <operation name="getLNListBySnils">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getLNListBySnils" message="tns:getLNListBySnils"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getLNListBySnilsResponse" message="tns:getLNListBySnilsResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getLNListBySnils/Fault/SOAPException"/>
        </operation>
        <operation name="getLNListByDate">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getLNListByDate" message="tns:getLNListByDate"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getLNListByDateResponse" message="tns:getLNListByDateResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getLNListByDate/Fault/SOAPException"/>
        </operation>
        <operation name="prParseFileNumberslpu">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/prParseFileNumberslpu" message="tns:prParseFileNumberslpu"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/prParseFileNumberslpuResponse" message="tns:prParseFileNumberslpuResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/prParseFileNumberslpu/Fault/SOAPException"/>
        </operation>
        <operation name="getLNData">
            <input wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getLNData" message="tns:getLNData"/>
            <output wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getLNDataResponse" message="tns:getLNDataResponse"/>
            <fault message="tns:SOAPException" name="SOAPException" wsam:Action="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/FileOperationsLn/getLNData/Fault/SOAPException"/>
        </operation>
    </portType>
    <binding name="FileOperationsLnPortBinding" type="tns:FileOperationsLn">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="prParseFilelnlpu">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/prParseFilelnlpu"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getNewLNNum">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getNewLNNum"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getNewLNNumRange">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getNewLNNumRange"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="disableLn">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/disableLn"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getExistingLNNumRange">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getExistingLNNumRange"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getLNListBySnils">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getLNListBySnils"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getLNListByDate">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getLNListByDate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="prParseFileNumberslpu">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/prParseFileNumberslpu"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
        <operation name="getLNData">
            <soap:operation soapAction="http://ru/ibs/fss/ln/ws/FileOperationsLn.wsdl/getLNData"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SOAPException">
                <soap:fault name="SOAPException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="FileOperationsLnImplService">
        <port name="FileOperationsLnPort" binding="tns:FileOperationsLnPortBinding">
            <soap:address location="https://docs-test.fss.ru/WSLnV11/FileOperationsLnPort"/>
        </port>
    </service>
</definitions>
